{% load static %}
        <div id="main-banner" class="row m-4">

                <div class="col mt-4  text-center">
                        <div class=heading>
                        <h1 class=display-2>
                                I am
                        </h1>
                        <h1 id="typed-strings">
                                
                                <p> an <strong>Electrical Engineer</strong>.</p>
                                <p>a <strong>Web developer. </strong></p>
                           </h1>
                    
                           <span class="display-4" id="typed"></span></div>
                
                            <a class="btn btn-info btn-lg m-3" href="#contact">
                                Contact
                            </a>
                       

                </div>

       
        </div>

